:root {
    --background-light: #f6f8f8;
    --text-light: #505050;
    --gradient-light: linear-gradient(109.6deg, rgb(253, 199, 141) 11.3%, rgb(249, 143, 253) 100.2%);

    --background-dark: #060808;

}

/* Elements */

body {
    background-color: var(--background-light) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

h1 {
    font-family: 'Tommy', sans-serif;
}

a {
    color: var(--text-light) !important;
    text-decoration: none !important;
    font-family: 'Gilgan', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

/* Home */

.content {
    width: 850px;
    padding-inline: 20px;
}

.theme-btn {
    height: 35px;
    width: 35px;
    padding: 0;
    margin-left: auto;
    border: none;
    background: var(--gradient-light);
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.nav-routes {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: bold;
}

a.active {
    color: black !important;
}

.text {
    font-family: 'Gilgan', sans-serif;
    color: var(--text-light);
}

.profile {
    width: 22%;
    min-width: 132px;
    height: fit-content;
    margin-left: 20px;
    margin-bottom: 10px;
    float: right;
}

.links {
    margin-top: 10px;
    display: flex;
    font-size: 25px;
    gap: 10px;
    justify-content: center;
}

.project-links {
    margin-top: auto;
    padding-top: 20px;
    display: flex;
    font-size: 25px;
    gap: 15px;
    justify-content: left;
}

.pfp {
    width: 100%;
    height: auto;
    border-radius: 100%;
    user-select: none;
    pointer-events: none;
}

.projects {
    width: 100%;
    height: fit-content;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}

.project {
    width: 31%;
    background-color: var(--background-light);
    border-radius: 15px;
    position: relative;
    padding-inline: 20px;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
}

.project::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: -1;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background: var(--gradient-light);
    border-radius: 17px;
}

.title {
    font-family: 'gilgan', sans-serif;
    text-wrap: nowrap;
}

.tags {
    width: 100%;
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
    flex-wrap: wrap;
}

.tag {
    background-color: rgb(212, 212, 212);
    padding-inline: 10px;
    padding-block: 3px;
    border-radius: 7px;
    font-family: 'Gilgan', sans-serif;
    color: var(--text-light);
    user-select: none;
    height: 30px;
}

/* Fonts */

@font-face {
    font-family: 'Gilgan';
    src: url('fonts/Gilgan.otf') format('opentype');
}

@font-face {
    font-family: 'Tommy';
    src: url('fonts/Tommy.otf') format('opentype');
}

/* Media queries */

@media (max-width: 1200px) {
    .content {
        width: 600px;
    }

    .projects {
        flex-direction: column;
        justify-content: none;
        gap: 28px;
        height: fit-content;
    }

    .project {
        width: 100%;
        height: fit-content;
    }

    .profile {
        float: none;
        width: 100%;
        margin: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .pfp {
        width: 50%;
    }


}

@media (max-width: 600px) {
    .content {
        width: 100vw;
    }

    nav {
        margin: 0;
        height: 70px;
    }
}

